.container {
  width: 100%;
  max-width: calc(1380px * 3 / 4);
  height: 150px;
  border: 1px solid rgb(209, 200, 200);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  overflow-x: hidden;
  margin-bottom: 4rem;
}

/* (1380px * 3/4) first column width */

.wrapper {
  display: flex;
  gap: 36px;
}
