.container {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #888;
}
.wrapper {
  height: 100px;
  width: 1380px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0.75rem 2rem;
  margin-bottom: 6rem;
}
.icon {
  font-size: 26px;
}
/*left  */
.logo {
  width: 150px;
  height: 50px;
  object-fit: cover;
}
/*Center */
.center {
  display: flex;
  align-items: center;
  height: 100%;
  width: 300px;
  border: 1px solid #999;
  padding: 0 0.25rem;
  border-radius: 6px;
}
.center:focus-within {
  border-color: #000;
}
.searchinput {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 0.5rem;
}

.center > .icon {
  font-size: 22px;
  margin-left: 6px;
  cursor: pointer;
}
/*Right  */
.right {
  display: flex;
  align-items: center;
  gap: 12px;
}
.right > * {
  cursor: pointer;
}
.profilePicContainer {
  width: 40px;
  height: 40px;
}
.profilePicimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
