.container {
  min-height: 900px;
  max-height: 1400px;
  width: 100%;
  border: 1px solid #999;
  border-radius: 12px;
  overflow: hidden;
  padding-bottom: 0.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* top */
.top {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 1rem;
}

.top span {
  font-weight: 600;
}

.profileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* center/img */
.center {
  height: 550px;
  width: 100%;
}

.postImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* bottom */
.bottom {
  display: flex;
  flex-direction: column;
}

.emojis {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftSideEmojis {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.likes {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 600;
  padding-left: 1rem;
}

/* description container */
.descriptionContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 1rem;
}

.descriptionContainer .username {
  font-weight: 600;
}

/* comment section */

.commentSection {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #999;
}

.viewComments {
  color: #666;
  font-size: 18px;
  padding: 0.25rem 1rem;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1rem;
}

.comment {
  display: flex;
  align-items: center;
  gap: 6px;
}

.commentUsername {
  align-self: flex-start;
  white-space: nowrap;
  font-weight: 600;
}

.commentText {
  font-size: 15px;
  color: #666;
}

.emojiComment {
  width: 40px;
  height: 20px;
  font-size: 20px;
}

.timeAgo {
  color: #888;
  margin: 0.5rem 0;
  padding: 1rem;
  padding-bottom: 0.5rem;
}

/* comment section */

.commentInput {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.commentInput input {
  width: 85%;
  height: 30px;
  padding-left: 0.5rem;
  border: none;
  outline: none;
}

.postBtn {
  color: rgb(91, 81, 228);
  font-size: 18px;
  cursor: pointer;
}
